
.quadrato{
    width: calc(100% / 10);
    aspect-ratio: 1/1;
    border: 2px solid;
    background-color: gainsboro;
    color: black;
}

#griglia {
    width: 40%;
}

body {
    
    margin: auto;
}


main {
    background-color: gray;
    height: 80vh;
}

header {
    height: 10vh;
}

footer {
    height: 10vh;
}